<div id="content">
  <div class="container" id="about">
    <div class="row"> 
      
      <!--main content-->
      <div class="span12">
        <h2>Datamond Is Coming!</h2>
        
        <!-- About company -->
        <p class="lead">Our web site is under construction. Please check back again. See you soon!</p>
      

      </div>
    </div>
  </div>
</div>