<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title>Datamond</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- @todo: fill with your company info or remove -->
<meta name="description" content="">
<meta name="author" content="Datamond">

<!-- Bootstrap CSS -->
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet">

<!-- Flexslider -->
<link href="css/flexslider.css" rel="stylesheet">

<!-- Theme style -->
<link href="css/theme-style.css" rel="stylesheet">

<!--Your custom colour override - predefined colours are: colour-blue.css, colour-green.css, colour-lavander.css, orange is default-->
<link href="css/colour-blue.css" id="colour-scheme" rel="stylesheet">

<!-- Your custom override -->
<link href="css/custom-style.css" rel="stylesheet">

<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="js/html5.js"></script>
    <![endif]-->

<!-- Le fav and touch icons - @todo: fill with your icons or remove -->
<link rel="shortcut icon" href="img/icons/favicon.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/icons/114x114.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/icons/72x72.png">
<link rel="apple-touch-icon-precomposed" href="img/icons/default.png">
<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
</head>

<body>
<!--Change the background class to alter background image, options are: benches, boots, buildings, city, metro -->
<div id="background-wrapper" class="city" data-stellar-background-ratio="0.4">
  <div id="navigation" class="wrapper">
    <div class="navbar  navbar-static-top"> 
      
      <!--Header & Branding region-->
      <div class="header">
        <div class="header-inner container">
          <div class="row-fluid">
            <div class="span8"> 
              <!--branding/logo - hidden image tag & site name so things like Facebook to pick up, actual logo set via CSS for flexibility --> 
              <a class="brand" href="#" title="Home">
              <h1 class="hidden"><img src="img/logo_1031.png" alt="Datamond Logo" />Datamond</h1>
              </a>
              <div class="slogan">Your Data.<br />
                Our Expertise.</div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
      </div>
    </div>
  </div>
</div>

<%= yield %>


<!-- FOOTER -->
<footer id="footer">
  <div class="container"> <a href="#top" class="scrolltop">Top</a>
    <div class="row-fluid">
      <div class="subfooter"> 
        <!--@todo: replace with company copyright details-->
        <div class="span7">
          <p class="home">Copyright 2013 &copy; Datamond</p>
        </div>
      </div>
    </div>
  </div>
</footer>

<!--Scripts --> 
<script src="js/jquery.js"></script> 

<!-- @todo: remove unused Javascript for better performance --> 
<script src="js/bootstrap-transition.js"></script> 
<script src="js/bootstrap-alert.js"></script> 
<script src="js/bootstrap-affix.js"></script> 
<script src="js/bootstrap-modal.js"></script> 
<script src="js/bootstrap-dropdown.js"></script> 
<script src="js/bootstrap-scrollspy.js"></script> 
<script src="js/bootstrap-tab.js"></script> 
<script src="js/bootstrap-tooltip.js"></script> 
<script src="js/bootstrap-popover.js"></script> 
<script src="js/bootstrap-button.js"></script> 
<script src="js/bootstrap-collapse.js"></script> 
<script src="js/bootstrap-carousel.js"></script> 
<script src="js/bootstrap-typeahead.js"></script> 

<!--Non-Bootstrap JS--> 
<script src="js/jquery.quicksand.js"></script> 
<script src="js/jquery.flexslider-min.js"></script> 
<script src="js/jquery.stellar.min.js"></script> 

<!--Custom scripts mainly used to trigger libraries --> 
<script src="js/script.js"></script>
</body>
</html>